body {
  background-color: #eaeaea;
}

.footer {
  height: 60px;
  background-color: #3f51b5;
}

.my-table {
  background-color: white;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 96px;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;

}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #3f51b5;
  color: #3f51b5 !important;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #3f51b5;
}

.paginationActive a{
  color: white !important;
  background-color: #3f51b5;
}

.loader-container {
  min-height: 860px;
}

.loader-container-admin {
  min-height: 500px;
}



.image-container {
  max-height: 390px;
  overflow: hidden;
}

.image {
  min-height: 390px;
}


.name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cardBodyContainer {
  min-height: 262px;
  
}

.image-container-bookscreen {
  height: 395px;
  overflow: hidden;
}

.bookscreen-excerpt {
  min-height: 30vh;
}

.header {
  height: 100px;
  background-color: #3f51b5;
}


.btn-blue {
  background-color: #3f51b5;
}

.swal-button {
  background-color: #4962B3;
}

a { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

@media (max-width: 1399px) {
  .image-container {
    max-height: 280px;
  }
}

@media (max-width: 767px) {
  .image-container {
    max-height: 550px;
  }
}

@media (max-width: 540px) {
  .paginationBttns {
    margin: 0px;
    padding-left: 0px;
  }
  
  .paginationBttns a {
    font-size: 13px;
    margin: 0px;
    max-height: 300px;
  }
  
}

@media (max-width: 414px) {
  .header {
    display: flex;
    justify-content: center !important;
    padding: 0px !important;
  }
}