body {
  background-color: #eaeaea;
}

.image {
  height: 500px;
}

.footer {
  height: 60px;
  margin-bottom: 0px;
}

.my-table {
  background-color: white;
}

.description-card {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
