body {
  background-color: #eaeaea;
}

.footer {
  height: 60px;
}

.my-table {
  background-color: white;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 96px;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;

}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #0d6efd;
  color: #0d6efd !important;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #0d6efd;
}

.paginationActive a{
  color: white !important;
  background-color: #0d6efd;
}

.loader-container {
  min-height: 860px;
}

.loader-container-admin {
  min-height: 500px;
}

@media (max-width: 540px) {
  .paginationBttns {
    margin: 0px;
    padding-left: 0px;
  }

  .paginationBttns a {
    font-size: 13px;
    margin: 0px;
    max-height: 300px;
  }

}


.image-container {
  max-height: 390px;
  overflow: hidden;
}

@media (max-width: 1399px) {
  .image-container {
    max-height: 280px;
  }
}

@media (max-width: 767px) {
  .image-container {
    max-height: 550px;
  }
}

.name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cardBodyContainer {
  min-height: 262px;

}

.image-container-bookscreen {
  height: 395px;
  overflow: hidden;
}

.bookscreen-excerpt {
  min-height: 30vh;
}

